{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas</title>
</head>
<body>
    <h4>La afiliación Alumni Blue consiste en un pago anual destinado a contribuir con el fondo de becas de la Universidad, a través de las Becas Alumni. 

        La anualidad es de $3.100 (tres mil cien pesos uruguayos). En el primer año de egreso la anualidad tiene un descuento del 50%. Existen diferentes modalidades de pago (efectivo en la Universidad, depósito bancario, pago con tarjeta de crédito Visa o Mastercard hasta en 12 cuotas). 
        
        Beneficios de la afiliación Blue: 
        
            15% de descuento en la cuota mensual de su hijo/a en cualquiera de nuestras carreras.
            20% de descuento en Postgrados y Maestrías en Derecho.
            20% de descuento Centro de Posgrado en Ingeniería.
            20% de descuento en todos los programas regulares y 30% en los programas enfocados del IEEM.
            15% de descuento en Programa Líder Coach del IEEM.
           
        </h4>
    <body style="background-image: url('{% static 'app/assets/fondo2.jpg' %}'); background-size: cover; color: dark-grey"></body> 
</body>
</html>