{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas</title>
</head>
<body>
    <h4>El Portal de AUCI (Agencia Uruguaya de Cooperación Internacional) de Presidencia publica oportunidades de becas para la continuidad de estudios de graduados universitarios.</h4>
    <a href=”https://www.google.com.uy”>Clic aquí para acceder</a>
    <body style="background-image: url('{% static 'app/assets/fondo2.jpg' %}'); background-size: cover; color: dark-grey"></body> 
</body>
</html>