<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Docente</title>
</head>
<body>
    <h2>Crear nuevo docente</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>Nombre :<input type="text" name="nombre" id="nombre"></p>
        <p>Apellido :<input type="text" name="apellido" id="apellido"></p>
        <p>Email :<input type="text" name="email" id="email"></p>
        <p>Profesion :<input type="text" name="profesion" id="profesion"></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>