<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Postgrado</title>
</head>
<body>
    <h2>Crear nuevo postgrado</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>Postgrado :<input type="text" name="nombre" id="nombre"></p>
        <p>Modalidad :<input type="text" name="modalidad" id="modalidad"></p>
        <p>Duracion :<input type="text" name="duracion" id="duracion"></p>
        <p>Financiacion :<input type="text" name="financiacion" id="financiacion"></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>