{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        h4 {
             text-align: center;
            color: white;
            font-family: Arial, sans-serif;
             }
    </style>
</head>
<body>
    <h4>Mi nombre es Nicolás Garateguy, soy Contador Público y desde el año 2014 me encuentro desempeñando la actividad profesional de manera independiente. </h4>
    <h4>Poseo experiencia en el área de contabilidad y finanzas desde comienzos del año 2014 hasta finales de 2015 y compatibilicé mi experiencia con la realización de un postgrado en Gestión Contable mediante el cual profundicé mis conocimientos para realizar una buena gestión dentro de una empresa.</h4>
    <h4>Estuve trabajando varios años en el ámbito público de un ente autónomo, específicamente en el Departamento de Hacienda, oficina de licitaciones</h4>
    <h4>Además de seguir formándome en mi área hace poco decidí entrar en el mundo de la programación como una manera de diversificar y poder dedicarme a esto en un futuro. Próximamente quiero continuar estudiando programación y enfocarme en áreas que por mi formación univeritaria sea la más adecuada.</h4>
    <body style="background-image: url('{% static 'app/assets/fondo2.jpg' %}'); background-size: cover; color: dark-grey"></body>
    <a href="https://www.facebook.com/nicolas.garateguybidegain?mibextid=ZbWKwL">
        <img src="facebook-icon.png" alt="Facebook">
      </a>
      
      <a href="https://twitter.com/ngara7?t=0lEGBk0UJ0AuHIPiqqt8IQ&s=09">
        <img src="twitter-icon.png" alt="Twitter">
      </a>
      
      <a href="https://www.instagram.com/invites/contact/?i=1jt932ymgrnkz&utm_content=221nvu3">
        <img src="instagram-icon.png" alt="Instagram">
    </a> 
</body>
</html>